:root {
  --transparent-black: rgba(0, 0, 0, 0.452);
  --radius: 20px;
  --offwhite: rgb(211, 211, 211);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: regular;
  font-family: "Signika", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#3b3b3b, #000000);
  color: var(--offwhite);
  text-shadow: 2px 0 4px black;
}

.content-container {
  margin-top: 10px;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .content-container {
    width: 100%;
  }
  header {
    flex-direction: column;
  }
  #main-container {
    padding: 30px 10px;
    width: 100%;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  div #current-weather-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  div #today-weather-data {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
  }
  div #location-container {
    margin-bottom: 20px;
  }
  form {
    margin-top: 10px;
  }
}

/* Header Section ***************************************************************/
header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 5px;
}
#unit-btn {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
.selected {
  font-weight: 700;
}
.unit {
  display: inline-block;
  font-size: 0.8rem;
}
#f-unit-btn {
  border-right: solid 1px rgb(97, 97, 97);
}
#f-unit-btn,
#c-unit-btn {
  padding: 0px 5px;
  width: 20px;
  font-size: 1.3rem;
}
input {
  all: unset;
  border-bottom: 1px solid rgb(211, 211, 211);
  width: 150px;
}
input::placeholder {
  opacity: 15%;
}
#location {
  margin: 0px 10px;
}
#error {
  font-size: 0.6rem;
  padding-top: 5px;
  color: rgb(255, 110, 110);
}
button {
  all: unset;
  cursor: pointer;
}

/* Main Section ***************************************************************/
main {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 30%;
  background-size: cover;
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 50px;
  border-radius: 80px;
  outline: solid 6px var(--offwhite);
  border: black solid 5px;
}
#current-weather-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* Main - Location Data ***************************************************************/
#location-container {
  padding: 10px;
  border-radius: var(--radius);
  width: 200px;
}

/* Main - Today Data ***************************************************************/
#today-weather-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 400;
  padding: 10px;
  width: 200px;
  border-radius: var(--radius);
}
#icon-temperature-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  margin-top: -30px;
  margin-left: -15px;
}
.current-weather {
  font-size: 1.5rem;
}
#current-skies {
  font-size: 2.5rem;
}

/* Main - Daily Data ***************************************************************/
#daily-weather-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  border-radius: var(--radius);
  gap: 5px;
  overflow: auto;
}
#day1,
#day2,
#day3,
#day4,
#day5,
#day6 {
  text-align: center;
  background-color: var(--transparent-black);
  font-size: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day {
  font-size: 2rem;
}
.daily-icon {
  height: 80px;
  display: block;
  margin: auto;
}
.daily-high {
  font-size: 1.3rem;
  font-weight: bold;
}
.daily-low {
  font-size: 1rem;
  font-weight: normal;
}

/* Footer Section ***************************************************************/
footer {
  color: var(--offwhite);
  margin: 20px 0px;
  text-align: center;
}
footer,
footer i {
  font-size: 15px;
}
a:link,
a:active,
a:visited {
  color: var(--offwhite);
  text-decoration: none;
}
a:hover {
  color: rgb(160, 160, 160);
  text-decoration: none;
}
#midjourney {
  font-size: 10px;
}
