* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: regular;
}
.hidden {
  display: none;
}
.selected {
  font-weight: 700;
}
body {
  font-family: "Signika", sans-serif;
  height: 100vh;
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(211, 211, 211);
  overflow: scroll;
  text-shadow: 2px 0 4px black;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
  border-bottom: 1px solid rgb(211, 211, 211);
  width: 150px;
}
input::placeholder {
  opacity: 15%;
}
#header-container {
  height: 6vh;
  width: 50%;
  text-align: center;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: flex-start;
  margin-top: 20px;
}
form {
  justify-self: flex-end;
}

#location {
  margin: 0px 10px;
}

#error {
  font-size: 0.6rem;
  color: rgb(223, 223, 223);
  margin-top: 2px;
}

#container {
  border-radius: 50%;
  height: 94vh;
  width: 50%;
  margin-bottom: 20px;

  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 65%;
  background-size: cover;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.42);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#current-weather-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

#left-container {
  justify-self: start;
  font-weight: 400;
}
#right-container {
  justify-self: end;
  text-align: right;
  margin-top: 20px;
}

#icon-temp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.current-weather {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.data-title {
  margin-right: 10px;
}

.right-data {
  margin-bottom: 15px;
}
#current-skies {
  font-size: 2.5rem;
}
.unit {
  display: inline-block;
  font-size: 0.8rem;
}

#unit-btn {
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
#f-unit-btn {
  border-right: solid 1px rgb(97, 97, 97);
}
#f-unit-btn,
#c-unit-btn {
  padding: 0px 5px;
  width: 20px;
  font-size: 1.3rem;
}

#daily-weather-container {
  display: grid;
  overflow: scroll;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  margin: 10px;
}
#day1,
#day2,
#day3,
#day4,
#day5,
#day6 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 20px;
  font-size: 0;
  padding: 10px;
}
.day {
  font-size: 2rem;
}
.daily-icon {
  height: 80px;
  display: block;
  margin: auto;
}

.daily-high {
  font-size: 1.3rem;
  font-weight: bold;
}

span.daily-high {
  margin-right: 10px;
}
.daily-low {
  font-size: 1rem;
  font-weight: normal;
}
